/* Media for 980px to 1023px */
/* 980px <= width < 1023px */
@media only screen and (min-width: 980px) and (max-width: 1023px) {

.header, .nav-inner, .main,.col-main,.page{ width:940px;  }
.footer{width:900px;}

.col-main { float:left; width:750px;}
.col-left { float:left; width:180px;}
.col-right { float:right; width:180px; margin-left:0;}
 
.col3-layout .col-main { width:520px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:720px; }
.product-view .product-shop{ width:432px; }
.col1-layout .product-view .product-shop{ width:623px; }
.block-banner img{ max-width:100%; }
#footer .mobile_togglemenu{ display:none;  }
#footer .footer-area{ width:223px; }
.col1-layout .product-view .product-shop{ width:620px; }
.cart .cart-collaterals .col1-set , .cart .cart-collaterals .col2-set , .cart .totals{ width:100%; }
 .subbanner .slides  img{width:100%;}
 .subbanner li{width:370px;}
 #footer .footer-area, .static_link1, .static_link2, .static_link3{width:210px;}
 .products-list li .list-center{width:510px;}
.block-subscribe input.input-text{width:104px;}
}

@media only screen and (max-width: 979px){

.header, .nav-inner, .main,.page{ width:724px;  }
.footer{width:722px;}
.footer{ padding:10px 0; }
.header_top,.header-bottom{width:55%;}
.col-main , .col3-layout .col-wrapper{ width:549px;}
.col3-layout .col-main{ width:374px; }  
.col-left,.col-right { width:165px;}
 .subbanner .slides  img{width:100%;}
  .subbanner li{width:269px;}
 #advancedmenu{ display:none; }
.advanced_nav{ display:block; }
#zoom-btn , .mousetrap {display:none !important; }
#zoom1 {cursor:default !important; }
 
.header .quick-access{ width:490px;  margin: 40px 0 0; }
.header .welcome-msg{float:right;margin:5px 0 0 ;clear:both;}
.footer .mobile_togglemenu{ display:block; }
#footer ul{ display:none; margin-bottom:10px; }
#footer .footer-area{ width:100%; margin-right:0; }
.products-list li .list-center{ width: 310px;}
.product-view .product-shop{   width: 100%; }
.cart .cart-collaterals .col2-set, .cart .totals{ width:100%; }
.checkout-progress{ padding: 0 10px; }
.form-list li.wide select , .form-list li.wide .input-box {width: 400px;}
.gift-messages-form .item .details .form-list li.wide .input-box , .form-list li.wide input.input-text{ width:100%; }
.col1-layout .product-view .product-shop{ width: 405px;}
.padder h6 { display:block; padding:5px;line-height: 25px;border-radius:5px; }
.product-view .tabs{ display:none !important; }
.contacform{ width:100%; margin-bottom:10px; padding:0; margin-right:0; border:none; }
.googlemap{ width:100%;margin-bottom:10px;  }
.block-banner img , .category-image img{ max-width:100%;}
.toolbar .pager .pager_right{ float:left; margin-top:8px; clear:both; }
.footer_bottom ul.links{display:block;text-align:center; float:none; margin-bottom:5px; }
.footer address{ float:none;text-align:center; clear:both; }
.product-collateral .padder{ padding-left:0; padding-right:0; }
.padder ol{ display:none; margin-bottom: 15px;}
.padder > div{ display:block !important;  }
#footer .block-subscribe input.input-text{ width:98%; }
.block-subscribe .block-title strong {    display: inline;}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box{ width:90%; }
.cart .cart-collaterals .col1-set{width:100%;}
.send-friend .form-list li.wide .input-box{width:92%;}
.send-friend .form-list li.wide textarea{width:100%;}
#footer .footer-area, .static_link1, .static_link2, .static_link3{width:100%;margin:0;}
.footer_top {padding: 10px;width:auto;}
#footer h6, #footer .block .block-title strong{ margin-bottom: 5px;padding: 5px 0 8px;    border-bottom: 1px dashed #1F5168;}
#footer .social_block h6{display:block;border-bottom:none;}
 .form-list input.input-text{width:200px;}
#my-orders-table {display: inline;float: left;overflow: scroll; width: 100%;}
.product-block .product-image > img {width: 100%;}
.block-subscribe input.input-text{width:89px;}
}
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
.page{width:auto;margin:-176px 15px 40px;padding:0 0 10px;}
.header, .nav-inner, .main { width:auto;  margin:0 10px;  }
.footer{width:auto;margin:0;}
.footer-container{margin:0 10px;}
.header_top,.header-bottom{width:100%; float:none;}
.header-bottom{margin-bottom:10px;margin-top: 30px;}
.col-left ,.col-right  ,.col-main{ width:100%;}
.col-main{ margin-bottom:10px; }
.col-left .block-content ,.col-right .block-content{ display:none; }
.col3-layout .col-wrapper , .col-main , .col3-layout .col-main{  width:100%;}
.toggle .mobile_togglecolumn {
    display: block;
}
 .block-banner{ display:none; }
.block .block-content{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius:  5px;
	border-radius:  5px;}

/********** Header Setting *************/
.header a.logo {padding: 20px 0 0;}
.header .logo{  margin: 0 auto;
    text-align: center;
    text-decoration: none !important;
   float:none;
   
   }
.header .quick-access{ margin:10px 0; width:100%;}
.header .form-search{ float: none;margin: 0 auto;}
.header .welcome-msg{    margin: 20px 0 0;text-align: center;width: 100%; }
.header .links{ display:none; float:none; text-align:left; position:absolute; background:#e8e8e8r{ display:block; cursor:pointer; padding:9px 0;  }
.header .links { margin:0; top:38px; width:176px; right:0;z-index:1;border-radius:0 0 5px 5px; }
.header .links li{ display:block; float:none; background:none; padding:0px !important }
.header .links li a{ text-decoration:none; padding: 5px; display:block;}

.header .tm_top_currency , .header .form-language{ float:left; text-align:center; }
.header .tm_top_currency {border-radius:5px 0 0 5px ;}
.header .tm_top_currency , .header .form-language {
 width:25%; margin:0 1px 0 0px;  position:relative; background:#E3E2DD; top:10px; padding: 0px;} 
.form-language .sbHolder .sbOptions{border-radius:0 0 5px 5px ;}
 .form-language .sbHolder, .tm_top_currency .sbHolder{ border:none; padding:0 0 0 0; background:none; float:none; }
 .form-language .sbHolder > a, .tm_top_currency .sbHolder > a{  text-align:center; padding:8px 0; top:5px; }
 /* .form-language .sbHolder > a.sbToggle, .tm_top_currency .sbHolder > a.sbToggle{background:url("../../images/arrow-down-resp.png") no-repeat center transparent;}
   .form-language .sbHolder > a.sbToggleOpen, .tm_top_currency .sbHolder > a.sbToggleOpen{background:url("../../images/arrow-up-resp.png") no-repeat center transparent;}*/
 .form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{ width:174px !important; left:0; top:38px !important; text-align:left; }

 .header-bottom .header-cart{ border-radius: 0 5px 5px 0;}
.header-cart , .tm_headerlinkmenu {
    float: right;
   margin: 0 -1px 0 0;
    position: absolute;
    right: 0;
    top: 125px;
	 width:25%;
	 background:#E3E2DD; padding:0;
	  border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.tm_headerlinkmenu{ right:25%;}
.cart_mini_right{ background:none; padding:8px 0; color:#777; margin:0 0 0 1px;
border:none; float:none; text-align:center; }
.header .header-cart #panel{ top:38px; }
.cart_mini_right .price{ display:none;}

/********** Header Setting *************/
.products-list li .list-center {    margin-top: 15px;    width: 100%;}
.col2-set .col-1 , .col2-set .col-2,.box-account .col2-set .col-1{  width:100%; }
.box-account .col2-set .col-1{ padding-right:0; border:none; margin-bottom:15px;}
.order-info-box .col-1{ margin-bottom:15px; }
.product-view .product-img-box { margin:0 auto 20px; float:none; }
.product-shop{ width:100% !important;}
.header .form-language label , .header .tm_top_currency label { display:none !important; }

#super-table{ clear:both; }
#new-wishlist-table .add-to-cart-alt button.button span{ width:auto !important;  }
.form-list li.wide textarea{ width:100%; }
.form-list li.fields .name-firstname{ margin-bottom:10px; }
#my-tags-table, .checkout-multishipping-overview .data-table {display:inline;float:left;width:100%;overflow:scroll;}
.multiple-checkout colgroup { width: 100%;} 
.shopping_CMS_main1 img { width: 100%;}
.block .block-title{border-radius:5px;}
.subbanner li{width:48%;}
.subbanner li.last{float:right;}
.product-block .product-image > img {max-width: 100%;}
#my-orders-table colgroup{width:100%;}
.cart_qty{float:none;display:inline;}
.header-cart .right_arrow{float:none;display:inline-block;margin:0 0 0 0;   
background: url("../../images/arrow-down.png") no-repeat scroll center center transparent;}
.header-cart .active .right_arrow {background: url("../../images/arrow-up.png") no-repeat scroll center center transparent;}
.block-subscribe input.input-text{width:139px;}
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
	.products-list li .list-center {      margin: 0 0 10px; width: 62%;}
}
@media only screen and (max-width: 649px) {
	.products-list li .list-center {    margin-top: 10px;    width: 100%;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.form-list li.wide .input-box{width: 260px;}
.form-list li.wide input.input-text{ width: 250px;}

}

/* Landscape phones and down */
@media only screen and (max-width: 479px) {
.form-list .field , .form-list .input-box ,.form-list li.wide .input-box { width:100% !important; }
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:90% !important; }
.cart_mini_right{ display:none; }
.cart-label{ background: url("../../images/cart-respo.png") no-repeat scroll center center;
    height: 20px;
    margin: 0 auto;
        padding: 9px 0;
    text-align: center;
      cursor:pointer; }
.checkout-progress{ padding:0 50px; }
.checkout-progress li{width:100% ;margin:0 0px 5px 0;}
.cart_mini_right .price{ display:none; }
.tm_responsive_row label , .tm_responsive_row span{width:100% ;margin:0 0px 5px 0;  }
.tm_responsive_row span .separator{ display:none;}
.gift-messages-form .item .details{ margin-left:0; margin-top:15px; }
.product-view .product-img-box{ width:271px; }
.product-view .product-img-box .product-image img{ width:100%; }
.email-addto-box .email-friend{ float:none; margin-bottom:8px; }
.googlemap iframe{ width:100%  !important; }
.col3-set .col-1 , .col3-set .col-2 , .col3-set .col-3 { width:100%; margin-bottom:10px; }
.my-wishlist textarea{ width:90%; }
#my-tags-table td , #my-reviews-table td{ display:block; }
.additional-carousel .slider-item .product-block img{ margin:0 auto; text-align:center; display:block;  }
.product-view .product-shop .availability{ float:none; text-align:left; }
#product-review-table .nobr{  white-space: normal !important; }
#product-review-table td , .data-table thead th{  padding: 5px 3px; }
#product-review-table{ margin:10px 0; }
.buttons-set .back-link{ margin-bottom:10px; margin-right:10px; }
.buttons-set button.button{ float:left; margin-left:0; }
.pager .limiter{ margin-bottom:10px; }
.pager .pager_right .sort-by{ float:none; }
.products-list li .list-right{ width:100%; }
.multiple-checkout .place-order .grand-total .inner div { display: inline-block;  margin-top: 10px;}
.pager .pages,.pager .limiter,.pager .pager_right .sort-by{float:left;margin:5px 0;}
.subbanner{display:none;}
.multiple-checkout .place-order .grand-total .inner div{margin-top:0;}
.multiple-checkout .place-order .grand-total big{margin-bottom:10px;}
}

/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) { }
@media only screen and (max-width: 319px){
.header-cart .right_arrow{ padding:0; background:none; }
.cart .discount .input-box { width:100% !important; }
#footer .block-subscribe input.input-text , .form-list textarea , .cart .discount input.input-text{  width:95%;}
.checkout-progress{ padding:0 10px; } 
.opc .step{ padding:15px 15px; } 
.product-view .product-img-box , .product-view .product-img-box .product-image img{ width:100%; } 
.product-view .product-shop .add-to-links li{ display:block;margin-bottom:8px; }
.product-view .product-shop .availability{ float:none; text-align:left; }
.my-wishlist .buttons-set button.button{ margin:5px 0; text-align:left;}
#product-review-table thead{ display:none; }
.form-language .sbHolder, .tm_top_currency .sbHolder{flat:none; text-align:center; padding:0; }
.form-language .sbHolder .sbToggle , .tm_top_currency .sbHolder .sbToggle { display:none; }
button.btn-checkout span{padding:0 10px;}
.multiple-checkout button.button span,.multiple-checkout .back-link a{font-size:11px;}
.products-list .add-to-links li{float:left;clear:both;}
.products-list .add-to-links .separator{display:none;}
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:88% !important; }
.cart .totals tfoot th strong, .cart .totals tfoot td strong{font-size:17px;}
.header .form-search{width: 145px;}
.header .form-search input.input-text{width:101px;}
.header .logo{min-height:80px;}
.logo > img{max-width:100%;}
.form-language .sbHolder .sbOptions,.tm_top_currency .sbHolder .sbOptions,.header .links{width:138px !important;}
.header .header-cart #panel{width:167px;}
.form-language .sbHolder > a, .tm_top_currency .sbHolder > a{font-size:11px;}
.ratings .amount{float:left;    margin: 10px 0 0;clear:both}
.products-list .product-image > img { width: 100%;}

.multiple-checkout .place-order .grand-total big {font-size: 17px;margin: 0px 12px 5px 0;}
.block-subscribe input.input-text{width:114px;}
}

@media only screen and (max-width:240px) {}